@page "/settings"

<div class="settings-root">
    <Grid
        Container
        Spacing="@Spacing.Four">
        
        <Grid
            Item
            Medium="@GridSize.Twelve"
            ExtraSmall="@GridSize.Twelve">
            <SettingCard />
        </Grid>
    </Grid>
</div>