<div class="auth-quote-root">
    <div class="auth-quote-inner">
        <Typography
            Class="auth-quote-text"
            Variant="@TypographyVariant.H5">
           
        </Typography>
        <div class="auth-quote-person">
            <Typography
                Class="auth-quote-name"
                Variant="@TypographyVariant.Body1">
               
            </Typography>
            <Typography
                Class="auth-quote-bio"
                Variant="@TypographyVariant.Body2">
                
            </Typography>
        </div>
    </div>
</div>
