<div class="products-toolbar-root">
  <div class="products-toolbar-row">
    <h3>Bookings</h3>
    <span class="products-toolbar-spacer" />
   
    <Button Color="@Color.Primary"
            Variant="@ButtonVariant.Contained">
      Add
    </Button>
  </div>
  <div class="products-toolbar-row">
    <SearchInput Class="products-toolbar-search-input"
                 Placeholder="Search Bookings" />
  </div>
</div>
